<form class="form-inline outlined" ng-controller="PictureCtrl">
    <h6>Get Picture</h6>
    <div class="form-group">
        <label for="picName">Name</label>
        <input id="picName" ng-model="picName" type="text" class="form-control" placeholder="Enter name">
        <button type="submit" class="btn btn-default"><i class="fa fa-picture-o"></i> get picture</button><!--ng-click="getPic()" task2-->
    </div>
    <div class="form-group">
        <img ng-src="{{path}}"> <!--class="img-responsive"-->
    </div>
</form>