<form class="form-inline outlined" ng-controller="PictureCtrl">
    <h6>Get Picture</h6>
    <div class="form-group">
        <label for="picName">Name</label>
        <input id="picName" ng-model="picName" type="text" class="form-control" placeholder="Enter name">
        <button ng-click="getPic()" type="submit" class="btn btn-default"><i class="fa fa-picture-o"></i> get picture</button>
    </div>
    <div class="form-group">
        <img class="img-responsive" ng-src="{{path}}">
    </div>
</form>