<form class="form-inline outlined" ng-controller="DeleteCtrl">
    <h6>Delete</h6>
    <div class="form-group">
        <label for="deleteName">Name</label>
        <input type="text" class="form-control" id="deleteName" ng-model="deleteName" placeholder="Enter name">
    </div>
    <div class="form-group">
        <button id="deleteButton" ng-click="deleteUser()" type="submit" class="btn btn-default">delete</button>
    </div>
    <label ng-show="showStatus"> Deleted: {{response.deleted}}, Left: <span ng-repeat="user in response.left">{{user.name}}|</span></label>
</form>