<div ng-controller="FileEnrollCtrl" class="form-inline outlined">
    <form ng-submit="getImage(obj)">
        <h6>Enroll</h6>
        <div class="topspace embed-responsive embed-responsive-4by3" ng-init="isDisabled = true">
            <label for="fileName">Name</label>
            <input id="fileName" type="text" class="form-control" ng-model="fileName" placeholder="Enter name">
            <button type="submit" class="btn btn-default"><i class="fa fa-upload"></i> get image</button>
            <button ng-disabled="isDisabled" type="submit" ng-click="enrollFile()" class="btn btn-success"><i
                    class="fa fa-floppy-o"> enroll</i></button>
            <input type="file" class="topspace" ng-file-model="obj.imageFile"/>
            <img class="img-responsive topspace" data-ng-src="{{enrollDataURL}}"/>
            <span ng-show="fileEnrollStatus">{{fileEnrollResponse.name}} enrolled ...</span>
        </div>
    </form>
</div>