<form class="form-inline outlined" ng-controller="PictureCtrl">
    <h6>Get Picture</h6>
    <div class="form-group">
        <label for="picName">Name</label>
        <input id="picName" ng-model="picName" type="text" class="form-control" placeholder="Enter name">
    </div>
    <div class="form-group">
        <button ng-click="getPic()" type="submit" class="btn btn-default">get picture</button>
    </div>

    <div class="form-group">
        <img id="pic" class="img-div" ng-src="{{path}}" alt="">
        <div id="get_pic_status_bar"></div>
    </div>
</form>