<form class="form-inline outlined">
    <h6>Get Picture</h6>
    <div class="form-group">
        <label for="getPictureName">Name</label>
        <input type="text" class="form-control" id="getPictureName" placeholder="Enter name">
    </div>
    <div class="form-group">
        <button id="getPictureButton" type="submit" class="btn btn-default">get picture</button>
    </div>

    <div class="form-group">
        <img id="pic" class="img-div" src="" alt="">
        <div id="get_pic_status_bar"></div>
    </div>
</form>