<form class="form-inline outlined">
    <h6>Identify</h6>
    <div class="form-group">
        <label for="identifyImage1">Image 1:</label>
        <input type="file" id="identifyImage1">
    </div>
    <div class="form-group">
        <button id="identifyButton" type="submit" class="btn btn-default">identify</button>
    </div>
</form>