<form class="form-inline outlined" ng-controller="LiveCaptureCtrl">
    <h6>Live capture</h6>
    <div class="form-group">
        <label for="liveCaptureName">Name</label>
        <input id="liveCaptureName" ng-model="liveCaptureName" type="text" class="form-control"  placeholder="Enter name">
    </div>
    <div class="topspace embed-responsive embed-responsive-4by3">
        <webcam channel="identifyChannel"></webcam>
    </div>
    <div class="topspace embed-responsive embed-responsive-4by3">
        <img class="img-responsive" data-ng-src="{{dataURL}}"/>
    </div>
    <div class="form-group">
        <button ng-show="showIdentify" type="submit" class="btn btn-default" ng-click="identify()">identify</button>
        <button id="enrollLiveCapture" ng-show="showEnroll" type="submit" class="btn btn-default" ng-click="enroll()">enroll</button>

        <span ng-repeat="match in matches">{{match.name}}:{{match.score * 100}}</span>
        <span ng-show="enrollStatus">{{enrollResponse.name}} enrolled ...</span>
    </div>
</form>
