<h2>Biometrics check</h2>

<div class="container-fluid">
    <div class="row">
        <div id="tasks" class="col-sm-4">
            <div id="enrollForm" class="row">

            </div>

            <div id="verifyForm" class="row topspace">

            </div>
            <div id="identifyForm" class="row topspace">

            </div>
            <div id="lisForm" class="row topspace">

            </div>
            <div id="deleteForm" class="row topspace">

            </div>
        </div>
        <div id="getPicture" class="col-sm-4">

        </div>
        <div id="livePicture" class="col-sm-4">

        </div>
    </div>

</div>