<h2>Biometrics check</h2>

<div class="container-fluid">
    <div>
        <div class="col-md-4">
            <div ng-include="'scripts/layouts/enroll.html'"></div>

        </div>
        <div class="col-md-4">
            <div ng-include="'scripts/layouts/live_capture.html'"></div>
        </div>
        <div class="col-md-4">
            <div ng-include="'scripts/layouts/get_picture.html'"></div>
            <div class="topspace" ng-include="'scripts/layouts/list.html'"></div>
            <div class="topspace" ng-include="'scripts/layouts/delete.html'"></div>
        </div>
    </div>
</div>