<form class="form-inline outlined">
    <h6>Verify</h6>
    <div class="form-group">
        <label for="verifyImage1">Image 1:</label>
        <input type="file" id="verifyImage1">
    </div>
    <div class="form-group">
        <label for="verifyImage2">Image 2:</label>
        <input type="file" id="verifyImage2">
    </div>
    <div class="form-group">
        <button id="verifyButton" type="submit" class="btn btn-default">verify</button>
    </div>
</form>