<form class="form-inline outlined">
    <h6>Delete</h6>
    <div class="form-group">
        <label for="nameToDelete">Name</label>
        <input ng-model="userToDelete" id="nameToDelete" type="text" class="form-control" placeholder="Enter name">
        <button ng-show="!showButtons" ng-click="showButtons = true" type="submit" class="btn btn-danger"><i class="fa fa-times"></i> delete</button>
        <button ng-show="showButtons" class="btn btn-danger" ng-click="deleteUser(userToDelete); showButtons = false">YES</button>
        <button ng-show="showButtons" class="btn btn-success" ng-click="showButtons = false">NO</button>
    </div>
    <div ng-show="deleteResponse">{{deleteResponse}}</div>
</form>
